body {
  background: #f4f4f4;
  color: #555;
  font-size: 10px;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  font-family: "Microsoft YaHei";
}
a,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
  color: #e30419;
}
img {
  border: none;
}
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: scroll;
}
header {
  font-family: "Microsoft YaHei";
}
header .header-left {
  float: left;
  width: 30%;
}
header .header-left .header-logo {
  background: url(../images/logo.png) no-repeat 100%;
  padding: 5px 20px;
  width: 226px;
  height: 66px;
}
header .header-right {
  float: left;
  width: 70%;
}
header .header-right ul {
  margin: 30px 0px;
}
header .header-right ul li {
  height: 50px;
  font-size: 18px;
  padding: 10px 20px;
  list-style: none;
  display: inline;
}
.content {
  height: 100%;
  clear: both;
}
.content .section {
  height: 70em;
  width: 100%;
  margin: 0px;
}
.content .bg-banner {
  background: url('../images/banner.png') no-repeat;
  position: relative;
}
.content .bg-banner .banner-right {
  position: absolute;
  top: 128px;
  right: 424px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 356px;
  height: 388px;
  /* opacity: 0.7;*/
}
.content .bg-banner .banner-right .QRcode-content {
  background-color: #fff;
  text-align: center;
  height: 378px;
  margin: 5px;
}
.content .bg-banner .banner-right .QRcode-content .QRcode-title {
  font-size: 3em;
  padding-top: 1em;
}
.content .bg-banner .banner-right .QRcode-content .QRcode-title span {
  color: #333333;
}
.content .bg-banner .banner-right .QRcode-content .QRcode-title1 {
  font-size: 3.6em;
  color: #e30419;
  padding-top: 2px;
}
.content .bg-banner .banner-right .QRcode-content .QRcode-footer {
  font-size: 1.8em;
  padding-top: 1em;
}
.content .bg-banner .banner-right .QRcode-content .QRcode-footer span {
  color: #e30419;
}
.content .bg-banner .banner-right .QRcode {
  background: url('../images/erweima_banner.png') center no-repeat;
  height: 171px;
}
.content .situation {
  text-align: center;
  height: 64em;
}
.content .situation .situation-header {
  font-size: 3.6em;
  color: #b81c22;
  margin: 2.5em 0 0.8em;
}
.content .situation .situation-text {
  font-size: 1.8em;
  width: 70%;
  text-align: center;
  margin: auto auto 2.8em;
  line-height: 2.8em;
  color: #666666;
}
.content .situation .situation-content .situation-items {
  width: 70%;
  text-align: center;
  margin: auto;
  overflow: hidden;
}
.content .situation .situation-content .situation-items .item {
  margin: 0;
  float: left;
  width: 25%;
}
.content .situation .situation-content .situation-items .item .item-title {
  font-size: 2.4em;
  color: #333333;
  text-align: center;
  width: 180px;
  margin: 0.8em 0;
}
.content .situation .situation-content .situation-items .item .item-text {
  font-size: 1.3em;
  color: #666666;
  width: 196px;
  text-align: left;
  line-height: 2em;
}
.content .situation .situation-content .situation-items .item .item-icon {
  width: 180px;
  height: 180px;
  background: #fff;
  border-radius: 50%;
}
.content .situation .situation-content .situation-items .item .icon {
  width: 180px;
  height: 180px;
}
.content .situation .situation-content .situation-items .item .professional-team-icon {
  background: url('../images/professional-team.png') center no-repeat;
}
.content .situation .situation-content .situation-items .item .academy-icon {
  background: url('../images/academy.png') center no-repeat;
  width: 180px;
  height: 180px;
}
.content .situation .situation-content .situation-items .item .platform-icon {
  background: url('../images/platform.png') center no-repeat;
  width: 180px;
  height: 180px;
}
.content .situation .situation-content .situation-items .item .service-icon {
  background: url('../images/service.png') center no-repeat;
  width: 180px;
  height: 180px;
}
.content .situation .situation-content .situation-items li:hover .item-text {
  color: #333333;
}
.content .situation .situation-content .situation-items li:hover .item-title {
  color: #b81c22;
}
.content .situation .situation-content .situation-items li:hover .item-icon {
  background: #b81c22;
}
.content .situation .situation-content .situation-items li:hover .professional-team-icon {
  background: url('../images/professional-team-white.png') center no-repeat;
}
.content .situation .situation-content .situation-items li:hover .academy-icon {
  background: url('../images/academy-white.png') center no-repeat;
}
.content .situation .situation-content .situation-items li:hover .platform-icon {
  background: url('../images/platform-white.png') center no-repeat;
}
.content .situation .situation-content .situation-items li:hover .service-icon {
  background: url('../images/service-white.png') center no-repeat;
}
.content .risk-control {
  background: #f4e2c8;
}
.content .risk-control .risk-control-content {
  width: 60%;
  text-align: center;
  margin: auto;
  padding: 5em 0 3em;
}
.content .risk-control .risk-control-content .tab-button {
  background: #fff;
  height: 5em;
  width: 48em;
  margin: auto;
  text-align: center;
  border-radius: 0.2em;
}
.content .risk-control .risk-control-content .tab-button ul li {
  display: inline-block;
  width: 30%;
  line-height: 2.5em;
  font-size: 1.8em;
  color: #666666;
}
.content .risk-control .risk-control-content .tab-button ul li:hover,
.content .risk-control .risk-control-content .tab-button ul li:active,
.content .risk-control .risk-control-content .tab-button ul li.active {
  color: #b81c22;
  cursor: pointer;
}
.content .risk-control .risk-control-content .tab-button ul a.active {
  color: #b81c22;
}
.content .risk-control .risk-control-content .tab-header {
  font-size: 1.8em;
  color: #666666;
  padding: 1em 0;
}
.content .risk-control .risk-control-content .tab-content .panel.risk-control-frame .panel-content {
  background: url('../images/risk-control-frame.png') no-repeat;
}
.content .risk-control .risk-control-content .tab-content .panel.risk-control-system .panel-content {
  background: url('../images/risk-control-system.png') no-repeat;
}
.content .risk-control .risk-control-content .tab-content .panel.risk-control-flow .panel-content {
  background: url('../images/risk-control-flow.png') no-repeat;
}
.content .risk-control .risk-control-content .tab-content .panel .panel-content {
  width: 91.8em;
  height: 46.4em;
}
.content .risk-control .risk-control-content .tab-content .panel:not(.active) {
  display: none;
}
footer {
  height: 34.8em;
  width: 100%;
}
footer .footer-content {
  background: #202c3c;
  padding: 0 9em;
  height: 27.8em;
}
footer .footer-content .container {
  width: 108em;
  margin: auto;
}
footer .footer-content .container .column {
  float: left;
  width: 30%;
}
footer .footer-content .container .column .column-title {
  font-size: 1.8em;
  color: #95a6b7;
  padding: 62px 0 30px;
}
footer .footer-content .container .column.qrcode {
  width: 25%;
}
footer .footer-content .container .column .column-content ul li {
  font-size: 1.4em;
  color: #758594;
  line-height: 2.8em;
  height: 1.8em;
  text-indent: 2.0em;
}
footer .footer-content .container .column .column-content ul li.gps-info {
  background: url('../images/footer-adress.png') 0 0.8em no-repeat;
}
footer .footer-content .container .column .column-content ul li.phone-info {
  background: url('../images/footer-phone.png') 0 0.8em no-repeat;
}
footer .footer-content .container .column .column-content ul li.email-info {
  background: url('../images/footer-mail.png') 0 0.8em no-repeat;
}
footer .footer-content .container .column .column-content ul.liststyle li {
  list-style-type: square ;
  color: #fff;
  text-indent: 0em;
}
footer .footer-content .container .column .column-content ul.liststyle li span {
  color: #758594;
}
footer .footer-content .container .column .column-content .content-top {
  padding-left: 2em;
}
footer .footer-content .container .column .column-content .content-top .wechat-QRcode.left {
  background: url('../images/erweima_footer.png') no-repeat;
  height: 12em;
  float: left;
  width: 12em;
  padding-right: 1em;
}
footer .footer-content .container .column .column-content .content-top .right {
  float: left;
  width: 40%;
}
footer .footer-content .container .column .column-content .content-top .right .text1 {
  font-size: 1.4em;
  color: #bdc7d4;
  padding-bottom: 0.5em;
}
footer .footer-content .container .column .column-content .content-top .right .text2 {
  font-size: 1.3em;
  color: #758594;
}
footer .footer-content .container .column .column-content .QRcode-bg {
  background: url('../images/erweima_bottom.png') -3em 10em no-repeat;
  height: 15em;
}
footer .footer-bootom {
  background: #161f2a;
  height: 7em;
}
footer .footer-bootom .bootom-content {
  width: 108em;
  margin: auto;
  padding: 1em 0;
}
footer .footer-bootom .bootom-content .left {
  float: left;
  width: 60%;
}
footer .footer-bootom .bootom-content .left .footer-logo {
  background: url('../images/footer-logo.png') no-repeat;
  height: 4em;
  width: 20%;
  float: left;
}
footer .footer-bootom .bootom-content .left .version-info {
  font-size: 1.4em;
  color: #758594;
  line-height: 1.8em;
  float: left;
  /*width: 46em;   */
  width: 80%;
}
footer .footer-bootom .bootom-content .icons-info {
  float: left;
  width: 25%;
}
footer .footer-bootom .bootom-content .icons-info .icon1 {
  background: url('../images/bottomicon_03.png') no-repeat;
  height: 4.1em;
  width: 6em;
  float: right;
}
footer .footer-bootom .bootom-content .icons-info .icon2 {
  background: url('../images/bottomicon_05.png') no-repeat;
  height: 4.1em;
  width: 4.1em;
  float: right;
}
.fiscal-division {
  background: url("../images/licaishi_bg.jpg") no-repeat;
  height: 770px!important;
  text-align: center;
}
.fiscal-division .fiscal-division-title {
  font-size: 3.6em;
  color: #f83030;
  padding-top: 70px;
  margin-bottom: 26px;
}
.fiscal-division .fiscal-division-content {
  font-size: 1.8em;
  color: #666666;
  margin-bottom: 40px;
}
.fiscal-division .fiscal-division-pic {
  margin: auto;
  width: 82%;
}
.fiscal-division .fiscal-division-pic ul li {
  float: left;
  width: 256px;
  height: 390px;
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 18px;
}
.fiscal-division .fiscal-division-pic ul li img {
  margin-top: 8px;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100% ;
}
.fiscal-division .fiscal-division-pic ul li .textwrap {
  position: absolute;
  bottom: 9px;
  left: 9px;
  width: 239px;
  height: 77px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding-top: 22px;
}
.fiscal-division .fiscal-division-pic ul li .p1 {
  font-size: 2.2em;
}
.fiscal-division .fiscal-division-pic ul li .p2 {
  font-size: 1.3em;
}
.fiscal-division .more {
  clear: both;
  height: 50px;
  width: 180px;
  background: url("../images/more-button.png") center no-repeat;
  margin: auto;
  padding-top: 34px;
}
.academy {
  background: url("../images/academy_bg.jpg") no-repeat;
  height: 770px!important;
  text-align: center;
}
.academy .academy-title {
  font-size: 3.6em;
  color: #f83030;
  padding-top: 70px;
  margin-bottom: 26px;
}
.academy .academy-content {
  font-size: 1.8em;
  color: #666666;
  margin-bottom: 40px;
}
.academy .academy-pic {
  margin: auto;
  width: 82%;
}
.academy .academy-pic ul li {
  float: left;
  width: 256px;
  height: 390px;
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 18px;
}
.academy .academy-pic ul li img {
  margin-top: 8px;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100% ;
}
.academy .academy-pic ul li .textwrap {
  position: absolute;
  bottom: 9px;
  left: 9px;
  width: 239px;
  height: 77px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding-top: 22px;
}
.academy .academy-pic ul li .p1 {
  font-size: 2.2em;
}
.academy .academy-pic ul li .p2 {
  font-size: 1.3em;
}
.academy .more {
  clear: both;
  height: 50px;
  width: 180px;
  background: url("../images/more-button.png") center no-repeat;
  margin: auto;
  padding-top: 34px;
}
.cooperation-partner {
  height: 820px!important;
  background: #ffffff;
  width: 100%;
}
.cooperation-partner .cooperation-container {
  width: 1080px;
  margin: auto;
  padding: 74px 147px;
  text-align: center;
}
.cooperation-partner .cooperation-container .cooperation-header .header-title {
  font-size: 3.6em;
  color: #b81c22;
  padding-bottom: 22px;
}
.cooperation-partner .cooperation-container .cooperation-header .header-text {
  font-size: 1.8em;
  color: #666666;
  line-height: 2.0em;
  padding-bottom: 60px;
}
.cooperation-partner .cooperation-container .cooperation-content {
  height: 441px;
}
.cooperation-partner .cooperation-container .cooperation-content ul {
  margin-bottom: 72px;
  overflow: hidden;
}
.cooperation-partner .cooperation-container .cooperation-content ul li {
  list-style: none;
  display: inline;
  float: left;
  width: 210px;
  height: 56px;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .icon {
  width: 210px;
  height: 56px;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo1 {
  background: url('../images/logo1.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo2 {
  background: url('../images/logo2.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo3 {
  background: url('../images/logo3.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo4 {
  background: url('../images/logo4.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo5 {
  background: url('../images/logo5.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo6 {
  background: url('../images/logo6.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo7 {
  background: url('../images/logo7.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo8 {
  background: url('../images/logo8.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo9 {
  background: url('../images/logo9.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo10 {
  background: url('../images/logo10.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo11 {
  background: url('../images/logo11.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo12 {
  background: url('../images/logo12.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo13 {
  background: url('../images/logo13.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo14 {
  background: url('../images/logo14.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo15 {
  background: url('../images/logo15.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo16 {
  background: url('../images/logo16.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo17 {
  background: url('../images/logo17.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo18 {
  background: url('../images/logo18.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo19 {
  background: url('../images/logo19.jpg') center no-repeat;
}
.cooperation-partner .cooperation-container .cooperation-content ul li .logo20 {
  background: url('../images/logo20.jpg') center no-repeat;
}
